
version: '3.7'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.1
    container_name: elasticsearch
    environment:
      - node.name = elasticsearch
      - xpack.security.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.enterpriseSearch.enabled = false
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - elk

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.1
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - elk

  fluentd:
    build:
      context: ./fluentd
      dockerfile: Dockerfile
    container_name: fluentd
    volumes:
      - ./logs:/app/logs
      - ./fluentd.conf:/fluentd/etc/fluentd.conf
    command: [ "fluentd", "-c" , "/fluentd/etc/fluentd.conf" ]
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    depends_on:
      - elasticsearch
    networks:
      - elk

  log-generator:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: log-generator
    volumes:
      - ./logs:/app/logs
    depends_on:
      - fluentd
    networks:
      - elk

networks:
  elk:
    driver: bridge
